body{
    margin: 0;
}

.container{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    background: rgb(0,155,255);
    background: radial-gradient(circle, rgba(0,155,255,1) 0%, rgba(0,155,255,1) 59%, rgba(80,222,255,1) 78%, rgba(0,0,0,1) 100%);
    color: #fff; 
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    width: 100vw; 
    justify-content: center; 
    align-items: center; 
} 

/* Title of the game */
.title{ 
    position: absolute;
    top: 0;
    font-size: 70px; 
} 


/* styles for your trainer and cpu trainer */
.trainer, .cpu {
    border: 3px solid black;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 10px;
}

.trainer {
    margin-top: 120px;
}

.cpu{
    background-color: darkred;
}
  
/* styles for the score number  */
.p-count,.c-count{ 
    text-align: center; 
    margin-top: 15px; 
    color: black;
    font-size: 55px;
} 

/* centers move and movesleft classes and adjusts font */
.move{ 
    display: flex; 
    justify-content: space-evenly;
    font-size: 45px; 
} 

.movesleft{ 
    display: flex; 
    justify-content: space-evenly;
    font-size: 20px; 
} 

/* displaying three option buttons in one line */
.options{ 
    display: flex; 
    width: 50vw; 
    justify-content: space-evenly; 
    margin-top: 40px; 
} 



/* Styling on all three option buttons */
.grass { 
    padding: 10px; 
    width: 100px; 
    border-radius: 10px; 
    background: green; 
} 

.fire {
    padding: 10px; 
    width: 100px; 
    border-radius: 10px; 
    background: orangered; 
} 

.water {
    padding: 10px; 
    width: 100px; 
    border-radius: 10px; 
    background: lightskyblue; 
}

  

  
/* Reload button style */
.restart { 
    display: none; 
    padding: 10px; 
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    margin-top: 20px; 
    justify-content: space-evenly;
} 

/* results style */
.result{ 
    margin-top: 20px; 
    margin-bottom: 20px;
    display: flex; 
    justify-content: space-evenly;
    font-size: 20px; 
}